- main.py
실행시 자동으로 랜덤으로 생성된 백만개의 파일이 생성되고, 퀵소트 - 개선퀵소트 - sort - sorted 순서로 실행된 후 정렬 결과를 각각 별개의 파일에 저장합니다.
랜덤하게 생성하지 않고 순차, 역방향 파일을 생성하려면 주석을 해제하면 됩니다.
순차, 역방향 파일을 입력하면 기존 퀵소트는 Runtime Error가 발생합니다. (백만개 미만의 입력에서는 정상 정렬되는 것 확인 완료 했습니다.)

- quick_sort.py, upgrade_quick.py
기존 quick sort는 quick_sort.py에, 개선된 퀵소트는 upgrade_quick.py에 위치해있습니다.

- manage_file.py
파일을 생성하고, 저장하는 함수가 존재합니다. 

읽어주셔서 감사합니다.